.product-container {
    width: 100vw;
    height: 100vh;
    background-color: #FBFAF9; 
    position: fixed;
    top: 0; 
    left: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.main-content-product {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    box-sizing: border-box;
    padding: 30px;
    height: 100%;
}