.my-profile-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1240px;
  margin-top: 20px;
  margin-left: 170px;
}

.profile-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.my-profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #0c326f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
}

.profile-name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.profile-major, .profile-class {
  font-size: 14px;
  color: #555;
}

.profile-intro {
  font-size: 14px;
  color: #444;
}

.profile-section p {
  margin: 0 0 5px 0;
  font-weight: 500;
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.course-item {
  display: flex;
  justify-content: space-between;
  background: #f0f7ff;
  padding: 8px 12px;
  border-radius: 6px;
}

.my-profile-actions {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.my-profile-btn-edit, .my-profile-btn-delete, .my-profile-btn-detail {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

.my-profile-btn-detail {
    background: #0c326f;
  color: #fff;
  display: flex;
  gap: 5px;
}

.my-profile-btn-detail:hover {
    transform: translateY(-2px);
}

.my-profile-btn-edit {
  background: #f0f9ff;
  color: #0369a1;
  border: 1px solid #bae6fd;
  display: flex;
  gap: 5px
}

.my-profile-btn-edit:hover {
    transform: translateY(-2px);
}

.my-profile-btn-delete {
  background: #fee2e2;
  color: #b91c1c;
  border: 1px solid #fecaca;
  display: flex;
  gap: 5px
}

.my-profile-btn-delete:hover {
     transform: translateY(-2px);
}