.filter-section {
    background-color: white;
    margin: 20px 20px 20px 0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 1240px;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-form-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.input-filter {
    height: 40px;
    margin: 20px 0;
}   

.form-group-filterlabel {
    font-size: 14px;
    color: #333;
    font-weight: 500;
    margin-bottom: 6px;
}

/* Khi hover vào option */
.ant-select-item-option-active {
  background-color: #f5f5f5 !important; /* nền đỏ nhạt */
}

/* Khi option được chọn */
.ant-select-item-option-selected {
  background-color: #0c326f     !important; /* nền đỏ nhạt */
  color: white !important;           /* chữ đỏ đậm */
  font-weight: 500;
}

.form-group-filter input,
.form-group-filter select {
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    transition: border-color 0.2s;
}

.form-group-filter input:focus,
.form-group-filter select:focus {
    outline: none;
    border-color: #4A90E2;
}

.form-group-filter input::placeholder {
    color: #999;
}

.button-form-actions-filter {
    display: flex;
    gap: 10px;
    justify-content: flex-start;

}


.search-btn {
    background-color: #0c326f;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: background-color 0.2s;
}

.delete-btn {
    background-color: #f5f5f5;
    color: black;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: background-color 0.2s;
}

.delete-btn:hover{
    transform: translateY(-2px);
}

 .search-btn:hover{
     transform: translateY(-2px);
 }