.filter-section {
    background-color: white;
    margin: 20px 20px 20px 0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 1240px;
}

.filter-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.filter-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A90E2;
}

.filter-icon svg {
    width: 20px;
    height: 20px;
    stroke: currentColor;
}

.filter-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-form-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}


.form-group label {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

.form-group input,
.form-group select {
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    transition: border-color 0.2s;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #4A90E2;
}

.form-group input::placeholder {
    color: #999;
}

.button-form-actions {
    display: flex;
    gap: 10px
}


.search-btn {
    background-color: #0c326f;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: background-color 0.2s;
}

.delete-btn {
    background-color: #f5f5f5;
    color: black;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: background-color 0.2s;
}

.delete-btn:hover{
    transform: translateY(-1px);
}

 .search-btn:hover{
     transform: translateY(-1px);
 }
