.profile-view-detail-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Header */
.profile-view-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
}

.profile-view-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.profile-view-major {
  font-size: 14px;
  color: #0369a1;
  margin: 4px 0;
}

.profile-view-desc {
  font-size: 14px;
  color: #444;
}

/* Section */
.profile-view-section {
  background: #fafafa;
  border-radius: 8px;
  padding: 15px;
}

.profile-view-section h4 {
  margin: 0 0 10px 0;
  font-size: 15px;
  font-weight: 600;
  color: #111;
}

.profile-view-section p {
  margin: 0;
  font-size: 14px;
  color: #444;
}

/* Tags */
.profile-view-tag-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

/* Courses */
.profile-view-course-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profile-view-course-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  background: #fff;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #eee;
}

/* Footer */
.profile-view-modal-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.profile-view-button-cancel {
  background-color: #e2e2e2;
  border: none;
  border-radius: 8px;
  color: #333;
  padding: 10px 16px ;
}

.profile-view-button-cancel:hover {
  transform: translateY(-2px);
}