.btn-message-news-feed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #0c326f;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 8px;
}

.btn-message-news-feed:hover {
    transform: translateY(-2px);
}