.member-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 1240px;
}

.member-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.member-left {
  display: flex;
  gap: 16px;
}

.member-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background: #0c326f;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.member-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.member-name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.member-major {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.member-desc {
  font-size: 14px;
  color: #444;
  margin: 0;
}

.skills {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.skill-tag {
  background: #f1f5f9;
  color: #0c326f;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
}

.member-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-contact-member {
  background: #0c326f;
  color: #fff;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 5px
}

.btn-contact-member:hover {
  transform: translateY(-2px);
}

.btn-profile-member {
  background: #f1f5f9;
  color: #333;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 5px
}

.btn-profile-member:hover {
  transform: translateY(-2px);
}

/* Pagination container */
.member-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Nút trang bình thường */
.ant-pagination-item {
  border: none;
  background: transparent;
  font-size: 16px;
}

/* Hover nút trang */
.ant-pagination-item:hover a {
  color: black; /* xám */
  background-color: grey;
}

/* Active (trang hiện tại) */
.ant-pagination-item-active {
  border-radius: 6px;
  background-color: #003366; /* xanh biển đậm */
  border: none;
  color: white;
}

.ant-pagination-item-active a {
  color: #fff !important;
  font-weight: bold;
}

/* Nút prev/next */
.ant-pagination-prev,
.ant-pagination-next {
  border: none;
  background: #f8f8f8;
  border-radius: 8px;
  padding: 0 8px;
}

/* Hover prev/next */
.ant-pagination-prev:hover,
.ant-pagination-next:hover {
  background: #e5e5e5;
}