.member-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 1240px;
}

.member-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.member-left {
  display: flex;
  gap: 16px;
}

.member-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #0c326f;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.member-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.member-name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.member-major {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.member-desc {
  font-size: 14px;
  color: #444;
  margin: 0;
}

.skills {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.skill-tag {
  background: #f1f5f9;
  color: #0c326f;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
}

.member-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-contact-member {
  background: #0c326f;
  color: #fff;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 5px
}

.btn-contact-member:hover {
  transform: translateY(-2px);
}

.btn-profile-member {
  background: #f1f5f9;
  color: #333;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 5px
}

.btn-profile-member:hover {
  transform: translateY(-2px);
}