.header-container {
    background-color: white;
    width: 100%;
    height: 97px;
    padding-left: 150px;
    padding-right: 20px;
    text-align: start;
    border-bottom: 1px solid #E8E8E8;
    box-sizing: border-box;
    position: fixed;
    z-index: 1100;
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

.title {
    font-size: 26px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.script {
    font-size: 16px;
    color: #666;
    margin: 0;
}

.coin-container {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    background-color: rgb(244, 255, 96);
    padding: 20px;
    width: 100px;
    border-radius: 30px;
}