.swap-class {
    height: 100vh;
    background-color: #FBFAF9; 
    /* position: fixed; */
    top: 0; 
    left: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.main-content-swap-class {
    flex: 1;
    margin: 80px 0 0 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.create-btn-request {
    background: #0c326f;
    color: white;
    border: none;
    padding: 2px 8px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: transform 0.2s ease, opacity 0.2s ease;
    text-align: center;
    font-size: 16px;
}

.create-btn-request:hover {
    transform: translateY(-2px);
}

.add-info-request {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 1240px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08)
}
