.my-group-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1240px;
  margin-top: 20px;
}

.group-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-between; /* chia trái – phải */
  align-items: flex-start; /* các block căn trên */
}

.group-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.group-name {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.status {
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 6px;
}

.status.active {
  background: #dcfce7;
  color: #15803d;
}

.status.inactive {
  background: #fee2e2;
  color: #b91c1c;
}

.group-code {
  color: #0c326f;
  font-weight: 500;
}

.group-desc {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.group-stats {
  display: flex;
  gap: 20px;
}

.stat-box {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 12px 18px;
  min-width: 250px;
}

.stat-box p {
  margin: 0;
  font-size: 13px;
  color: #666;
}

.stat-box strong {
  font-size: 15px;
  color: #111;
}

.group-section p {
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: 500;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background: #e6f0ff;
  color: #0c326f;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
}

.tag.member {
  background: #eff6ff;
}

.tag.searching {
  background: #fef9c3;
  color: #92400e;
}

.group-actions {
  display: flex;
  flex-direction: column; /* hoặc row nếu muốn nằm ngang */
  gap: 10px;
}

.btn-edit-my-group, .btn-delete-my-group, .btn-detail-my-group {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

.btn-edit-my-group {
  background: #f0f9ff;
  color: #0369a1;
  border: 1px solid #bae6fd;
  display: flex;
  gap: 5px;
}

.btn-edit-my-group:hover{
    transform: translateY(-2px);
}

.btn-delete-my-group {
  background: #fee2e2;
  color: #b91c1c;
  border: 1px solid #fecaca;
  display: flex;
  gap: 5px;
}

.btn-delete-my-group:hover {
    transform: translateY(-2px);
}

.btn-detail-my-group {
  background: #0c326f;
  color: #fff;
  display: flex;
  gap: 5px;
}

.btn-detail-my-group:hover {
    transform: translateY(-2px);
}