.group-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 1240px;
}

.group-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.group-left {
  display: flex;
  gap: 16px;
}

.group-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.group-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.group-name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.group-major {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.group-member {
    font-size: 14px;
  color: #555;
  margin: 0;
}

.group-subject {
    font-size: 14px;
  color: #555;
  margin: 0;
}

.group-desc {
  font-size: 14px;
  color: #444;
  margin: 0;
}


.group-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-contact {
  background: #0c326f;
  color: #fff;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.btn-profile {
  background: #f1f5f9;
  color: #333;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
